<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    </head>
<body>
    {% extends 'base.html' %}

    {% block title %}Delete User{% endblock %}

    {% block content %}
        <h2>Delete User</h2>
        <form method="POST" action="{{ url_for('delete_user')}}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="" required>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Delete User</button>
                <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    {% endblock %}
</body>
</html>
